.container {
    width: 100%;
    height: 70px;
    background: #fff555
}

.col0 {
    float: right;
    padding: 10;
}

.title {
    background: white;
    margin-top: 0;
    padding-top: 10;
}

.col1 {
    float: left;
}

.itemContainer {
    background: black;
    color: white;
    list-style: none;
    margin-top: 25;
}

.item {
    display: inline;
    padding: 15;
    margin-right: 10;
    background: #fff555
}

